USE [InscripcionNotas]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 8/13/2025 11:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[IdEstudiante] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Identificacion] [nvarchar](50) NOT NULL,
	[Edad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 8/13/2025 11:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[IdCarrera] [int] IDENTITY(1,1) NOT NULL,
	[NombreCarrera] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 8/13/2025 11:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[NombreMateria] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notas]    Script Date: 8/13/2025 11:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notas](
	[IdNota] [int] IDENTITY(1,1) NOT NULL,
	[IdEstudiante] [int] NOT NULL,
	[IdCarrera] [int] NOT NULL,
	[IdMateria] [int] NOT NULL,
	[Nota1] [decimal](5, 2) NOT NULL,
	[Nota2] [decimal](5, 2) NOT NULL,
	[Nota3] [decimal](5, 2) NOT NULL,
	[PromedioFinal] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_1]    Script Date: 8/13/2025 11:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT        dbo.Notas.IdNota, dbo.Estudiantes.Nombre, dbo.Estudiantes.Identificacion, dbo.Estudiantes.Edad, dbo.Materias.NombreMateria, dbo.Carreras.NombreCarrera, dbo.Notas.Nota1, dbo.Notas.Nota2, dbo.Notas.Nota3, 
                         dbo.Notas.PromedioFinal, dbo.Notas.IdEstudiante, dbo.Notas.IdCarrera, dbo.Notas.IdMateria
FROM            dbo.Carreras INNER JOIN
                         dbo.Notas ON dbo.Carreras.IdCarrera = dbo.Notas.IdCarrera INNER JOIN
                         dbo.Estudiantes ON dbo.Notas.IdEstudiante = dbo.Estudiantes.IdEstudiante INNER JOIN
                         dbo.Materias ON dbo.Notas.IdMateria = dbo.Materias.IdMateria
GO
SET IDENTITY_INSERT [dbo].[Carreras] ON 

INSERT [dbo].[Carreras] ([IdCarrera], [NombreCarrera]) VALUES (1, N'Ingenieria en Sistemas')
INSERT [dbo].[Carreras] ([IdCarrera], [NombreCarrera]) VALUES (2, N'Medicina')
SET IDENTITY_INSERT [dbo].[Carreras] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudiantes] ON 

INSERT [dbo].[Estudiantes] ([IdEstudiante], [Nombre], [Identificacion], [Edad]) VALUES (1, N'Jose Perez', N'7960', 26)
INSERT [dbo].[Estudiantes] ([IdEstudiante], [Nombre], [Identificacion], [Edad]) VALUES (2, N'Karla Funes', N'7961', 26)
INSERT [dbo].[Estudiantes] ([IdEstudiante], [Nombre], [Identificacion], [Edad]) VALUES (3, N'matteo', N'4140', 11)
SET IDENTITY_INSERT [dbo].[Estudiantes] OFF
GO
SET IDENTITY_INSERT [dbo].[Materias] ON 

INSERT [dbo].[Materias] ([IdMateria], [NombreMateria]) VALUES (1, N'Programación 1')
INSERT [dbo].[Materias] ([IdMateria], [NombreMateria]) VALUES (2, N'Ingles 1')
SET IDENTITY_INSERT [dbo].[Materias] OFF
GO
SET IDENTITY_INSERT [dbo].[Notas] ON 

INSERT [dbo].[Notas] ([IdNota], [IdEstudiante], [IdCarrera], [IdMateria], [Nota1], [Nota2], [Nota3], [PromedioFinal]) VALUES (1, 1, 1, 1, CAST(8.50 AS Decimal(5, 2)), CAST(7.50 AS Decimal(5, 2)), CAST(9.00 AS Decimal(5, 2)), CAST(8.40 AS Decimal(5, 2)))
INSERT [dbo].[Notas] ([IdNota], [IdEstudiante], [IdCarrera], [IdMateria], [Nota1], [Nota2], [Nota3], [PromedioFinal]) VALUES (2, 3, 2, 2, CAST(3.00 AS Decimal(5, 2)), CAST(3.00 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(5.80 AS Decimal(5, 2)))
INSERT [dbo].[Notas] ([IdNota], [IdEstudiante], [IdCarrera], [IdMateria], [Nota1], [Nota2], [Nota3], [PromedioFinal]) VALUES (4, 2, 2, 1, CAST(10.00 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(6.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Notas] OFF
GO
ALTER TABLE [dbo].[Notas]  WITH CHECK ADD FOREIGN KEY([IdCarrera])
REFERENCES [dbo].[Carreras] ([IdCarrera])
GO
ALTER TABLE [dbo].[Notas]  WITH CHECK ADD FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiantes] ([IdEstudiante])
GO
ALTER TABLE [dbo].[Notas]  WITH CHECK ADD FOREIGN KEY([IdMateria])
REFERENCES [dbo].[Materias] ([IdMateria])
GO
/****** Object:  StoredProcedure [dbo].[ObtenerNotasConDetalles]    Script Date: 8/13/2025 11:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROCEDIMIENTO: Listar notas
CREATE PROCEDURE [dbo].[ObtenerNotasConDetalles]
AS
BEGIN
    SET NOCOUNT ON;

SELECT        dbo.Notas.IdNota, dbo.Estudiantes.Nombre, dbo.Estudiantes.Identificacion, dbo.Estudiantes.Edad, dbo.Materias.NombreMateria, dbo.Carreras.NombreCarrera, dbo.Notas.Nota1, dbo.Notas.Nota2, dbo.Notas.Nota3, 
                         dbo.Notas.PromedioFinal, dbo.Notas.IdEstudiante, dbo.Notas.IdCarrera, dbo.Notas.IdMateria
FROM            dbo.Carreras INNER JOIN
                         dbo.Notas ON dbo.Carreras.IdCarrera = dbo.Notas.IdCarrera INNER JOIN
                         dbo.Estudiantes ON dbo.Notas.IdEstudiante = dbo.Estudiantes.IdEstudiante INNER JOIN
                         dbo.Materias ON dbo.Notas.IdMateria = dbo.Materias.IdMateria
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEstudiante]    Script Date: 8/13/2025 11:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento editar usuario
CREATE PROCEDURE [dbo].[sp_ActualizarEstudiante]
    @IdEstudiante INT,
    @Nombre NVARCHAR(100),
    @Identificacion NVARCHAR(50),
    @Edad INT
AS
BEGIN
    UPDATE Estudiantes
    SET Nombre = @Nombre,
        Identificacion = @Identificacion,
        Edad = @Edad
    WHERE IdEstudiante = @IdEstudiante;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarNotas]    Script Date: 8/13/2025 11:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROCEDIMIENTO: Editar notas
CREATE PROCEDURE [dbo].[sp_ActualizarNotas]
    @IdNota INT,
    @IdEstudiante INT,
    @IdCarrera INT,
    @IdMateria INT,
    @Nota1 DECIMAL(5,2),
    @Nota2 DECIMAL(5,2),
    @Nota3 DECIMAL(5,2)
AS
BEGIN
    DECLARE @PromedioFinal DECIMAL(5,2);
    SET @PromedioFinal = ROUND((@Nota1 * 0.30) + (@Nota2 * 0.30) + (@Nota3 * 0.40), 2);

    UPDATE Notas
    SET IdEstudiante = @IdEstudiante,
        IdCarrera = @IdCarrera,
        IdMateria = @IdMateria,
        Nota1 = @Nota1,
        Nota2 = @Nota2,
        Nota3 = @Nota3,
        PromedioFinal = @PromedioFinal
    WHERE IdNota = @IdNota;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarNotas]    Script Date: 8/13/2025 11:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_EliminarNotas]
    @IdNota INT
AS
BEGIN
    DELETE FROM Notas
    WHERE IdNota = @IdNota;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarEstudiante]    Script Date: 8/13/2025 11:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarEstudiante]
    @Nombre NVARCHAR(100),
    @Identificacion NVARCHAR(50),
    @Edad Int
AS
BEGIN
    INSERT INTO Estudiantes (Nombre, Identificacion, Edad)
    VALUES (@Nombre, @Identificacion, @Edad);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarNotas]    Script Date: 8/13/2025 11:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarNotas]
    @IdEstudiante INT,
    @IdCarrera INT,
    @IdMateria INT,
    @Nota1 DECIMAL(5,2),
    @Nota2 DECIMAL(5,2),
    @Nota3 DECIMAL(5,2)
AS
BEGIN
    DECLARE @PromedioFinal DECIMAL(5,2);
    SET @PromedioFinal = ROUND((@Nota1 * 0.30) + (@Nota2 * 0.30) + (@Nota3 * 0.40), 2);

    INSERT INTO Notas (IdEstudiante, IdCarrera, IdMateria, Nota1, Nota2, Nota3, PromedioFinal)
    VALUES (@IdEstudiante, @IdCarrera, @IdMateria, @Nota1, @Nota2, @Nota3, @PromedioFinal);
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Carreras"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 247
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Notas"
            Begin Extent = 
               Top = 6
               Left = 285
               Bottom = 136
               Right = 494
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Estudiantes"
            Begin Extent = 
               Top = 5
               Left = 708
               Bottom = 135
               Right = 917
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Materias"
            Begin Extent = 
               Top = 152
               Left = 574
               Bottom = 248
               Right = 783
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 11
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'      Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
